# 存股族必看！ 殖利率計算

殖利率公式:   $$殖利率 = \frac{股息}{除權息前股價}$$

## Part 1: 下載證交所除權除息結果表
資料來源:[證交所 除權除息計算結果表](https://www.twse.com.tw/zh/page/trading/exchange/TWT49U.html)

In [39]:
import requests as r

In [40]:
url = 'https://www.twse.com.tw/exchangeReport/TWT49U?response=json&strDate=20220408&endDate=20220408'

In [41]:
r.get(url)

In [42]:
res = r.get(url)
res.json()

{'stat': 'OK',
 'title': '111年04月08日 至 111年04月08日 除權除息計算結果表',
 'fields': ['資料日期',
  '股票代號',
  '股票名稱',
  '除權息前收盤價',
  '除權息參考價',
  '權值+息值',
  '權/息',
  '漲停價格',
  '跌停價格',
  '開盤競價基準',
  '減除股利參考價',
  '詳細資料',
  '最近一次申報資料 季別/日期',
  '最近一次申報每股 (單位)淨值',
  '最近一次申報每股 (單位)盈餘'],
 'data': [['111年04月08日',
   '2535',
   '達欣工',
   '34.55',
   '32.05',
   '2.500000',
   '息',
   '35.25',
   '28.85',
   '32.05',
   '32.05',
   "<a href='../../../exchange/TWT49UDetail?STK_NO=2535&&T1=20220408' title='前往達欣工除權息資料(另開新視窗)' target=_blank>除權息資料</a>",
   "<a href='https://mops.twse.com.tw/mops/web/t163sb01' title='前往達欣工財報資料(另開新視窗)' target=_blank>110年第4季</a>",
   '26.51',
   '3.78'],
  ['111年04月08日',
   '2832',
   '台產',
   '20.85',
   '20.10',
   '0.750000',
   '息',
   '22.10',
   '18.10',
   '20.10',
   '20.10',
   "<a href='../../../exchange/TWT49UDetail?STK_NO=2832&&T1=20220408' title='前往台產除權息資料(另開新視窗)' target=_blank>除權息資料</a>",
   "<a href='https://mops.twse.com.tw/mops/web/t163sb01' title='前往台產財報資料(另開新視窗)' target=_blank>110年第4季</a>",
   '28.11',
   '1.03'],
  ['111年04月08日',
   '3003',
   '健和興',
   '85.10',
   '83.10',
   '2.000000',
   '息',
   '91.40',
   '74.80',
   '83.10',
   '83.10',
   "<a href='../../../exchange/TWT49UDetail?STK_NO=3003&&T1=20220408' title='前往健和興除權息資料(另開新視窗)' target=_blank>除權息資料</a>",
   "<a href='https://mops.twse.com.tw/mops/web/t163sb01' title='前往健和興財報資料(另開新視窗)' target=_blank>110年第4季</a>",
   '35.16',
   '4.98']],
 'extraNotes': [],
 'notes': ['股利資料自民國92年5月5日起開始提供',
  "如果無該項配股率則用'0'帶入",
  '開盤競價基準：當不含現金增資除權時，取最接近除權息參考價之檔位價，遇含現金增資除權時，則取最接近減除股利參考價之檔位價。',
  '權值+息值=除權息前收盤價-除權息參考價',
  '自民國100年3月28日起，除權息前一交易日如無收盤價格，以本公司營業細則第58-3條第2項第2款之原則所決定價格替代。',
  '本表不含除息併案辦理退還股款減資或分割減資之資料。',
  "本表所列股票、臺灣存託憑證、ETF、受益證券等財報資料，係發行公司最近一次申報資料，僅供參考，實際資料仍以公開資訊觀測發行公司公告資料為準，網址為：<a href='https://mops.twse.com.tw' target=_blank title='點擊前往公開資訊觀測站(另開新視窗)'>點擊前往公開資訊觀測站</a> 。ETF、受益證券無每股 (單位)盈餘，以「N/A」表示；特別股同普通股最新申報資料。"],
 'formula': ['除權息參考價 = (除權息前收盤價-息值+現金增資認購價*現金增資配股率)/(1+無償配股率+現金增資配股率)',
  '減除股利參考價 = (除權息前收盤價-息值)/(1+無償配股率)'],
 'strDate': '20220408',
 'endDate': '20220408'}

In [43]:
stock_json = res.json()
stock_json['data']

[['111年04月08日',
  '2535',
  '達欣工',
  '34.55',
  '32.05',
  '2.500000',
  '息',
  '35.25',
  '28.85',
  '32.05',
  '32.05',
  "<a href='../../../exchange/TWT49UDetail?STK_NO=2535&&T1=20220408' title='前往達欣工除權息資料(另開新視窗)' target=_blank>除權息資料</a>",
  "<a href='https://mops.twse.com.tw/mops/web/t163sb01' title='前往達欣工財報資料(另開新視窗)' target=_blank>110年第4季</a>",
  '26.51',
  '3.78'],
 ['111年04月08日',
  '2832',
  '台產',
  '20.85',
  '20.10',
  '0.750000',
  '息',
  '22.10',
  '18.10',
  '20.10',
  '20.10',
  "<a href='../../../exchange/TWT49UDetail?STK_NO=2832&&T1=20220408' title='前往台產除權息資料(另開新視窗)' target=_blank>除權息資料</a>",
  "<a href='https://mops.twse.com.tw/mops/web/t163sb01' title='前往台產財報資料(另開新視窗)' target=_blank>110年第4季</a>",
  '28.11',
  '1.03'],
 ['111年04月08日',
  '3003',
  '健和興',
  '85.10',
  '83.10',
  '2.000000',
  '息',
  '91.40',
  '74.80',
  '83.10',
  '83.10',
  "<a href='../../../exchange/TWT49UDetail?STK_NO=3003&&T1=20220408' title='前往健和興除權息資料(另開新視窗)' target=_blank>除權息資料</a>",
  "<a href='https://mops.twse.com.tw/mops/web/t163sb01' title='前往健和興財報資料(另開新視窗)' target=_blank>110年第4季</a>",
  '35.16',
  '4.98']]

In [44]:
import pandas as pd
df = pd.DataFrame.from_dict(stock_json['data'])
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,111年04月08日,2535,達欣工,34.55,32.05,2.500000,息,35.25,28.85,32.05,32.05,<a href='../../../exchange/TWT49UDetail?STK_NO...,<a href='https://mops.twse.com.tw/mops/web/t16...,26.51,3.78
1,111年04月08日,2832,台產,20.85,20.10,0.750000,息,22.10,18.10,20.10,20.10,<a href='../../../exchange/TWT49UDetail?STK_NO...,<a href='https://mops.twse.com.tw/mops/web/t16...,28.11,1.03
2,111年04月08日,3003,健和興,85.10,83.10,2.000000,息,91.40,74.80,83.10,83.10,<a href='../../../exchange/TWT49UDetail?STK_NO...,<a href='https://mops.twse.com.tw/mops/web/t16...,35.16,4.98

In [45]:
stock_json['fields']

['資料日期',
 '股票代號',
 '股票名稱',
 '除權息前收盤價',
 '除權息參考價',
 '權值+息值',
 '權/息',
 '漲停價格',
 '跌停價格',
 '開盤競價基準',
 '減除股利參考價',
 '詳細資料',
 '最近一次申報資料 季別/日期',
 '最近一次申報每股 (單位)淨值',
 '最近一次申報每股 (單位)盈餘']

In [46]:
df.columns = stock_json['fields']
df

,資料日期,股票代號,股票名稱,除權息前收盤價,除權息參考價,權值+息值,權/息,漲停價格,跌停價格,開盤競價基準,減除股利參考價,詳細資料,最近一次申報資料 季別/日期,最近一次申報每股 (單位)淨值,最近一次申報每股 (單位)盈餘
0,111年04月08日,2535,達欣工,34.55,32.05,2.500000,息,35.25,28.85,32.05,32.05,<a href='../../../exchange/TWT49UDetail?STK_NO...,<a href='https://mops.twse.com.tw/mops/web/t16...,26.51,3.78
1,111年04月08日,2832,台產,20.85,20.10,0.750000,息,22.10,18.10,20.10,20.10,<a href='../../../exchange/TWT49UDetail?STK_NO...,<a href='https://mops.twse.com.tw/mops/web/t16...,28.11,1.03
2,111年04月08日,3003,健和興,85.10,83.10,2.000000,息,91.40,74.80,83.10,83.10,<a href='../../../exchange/TWT49UDetail?STK_NO...,<a href='https://mops.twse.com.tw/mops/web/t16...,35.16,4.98

## Part 2: 資料整理

#### 2.1 選取所需欄位

In [47]:
df = df[['資料日期', '股票代號', '股票名稱', '除權息前收盤價', '除權息參考價', '權值+息值', '權/息']]
df

         資料日期  股票代號 股票名稱 除權息前收盤價 除權息參考價     權值+息值 權/息
0  111年04月08日  2535  達欣工   34.55  32.05  2.500000   息
1  111年04月08日  2832   台產   20.85  20.10  0.750000   息
2  111年04月08日  3003  健和興   85.10  83.10  2.000000   息

#### 2.2 重新命名欄位

In [48]:
df.columns = ['資料日期', '股票代號', '股票名稱', '除權息前收盤價', '除權息參考價', '權值_息值', '權_息']
df

         資料日期  股票代號 股票名稱 除權息前收盤價 除權息參考價     權值_息值 權_息
0  111年04月08日  2535  達欣工   34.55  32.05  2.500000   息
1  111年04月08日  2832   台產   20.85  20.10  0.750000   息
2  111年04月08日  3003  健和興   85.10  83.10  2.000000   息

#### 2.3 資料轉型

In [49]:
for row in range(len(df)):
    for col in range(3, 6):
        df.iloc[row, col] = float(df.iloc[row, col])
df

/Users/hou/opt/anaconda3/lib/python3.9/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/Users/hou/opt/anaconda3/lib/python3.9/site-packages/pandas/core/indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

         資料日期  股票代號 股票名稱 除權息前收盤價 除權息參考價 權值_息值 權_息
0  111年04月08日  2535  達欣工   34.55  32.05   2.5   息
1  111年04月08日  2832   台產   20.85   20.1  0.75   息
2  111年04月08日  3003  健和興    85.1   83.1   2.0   息

## Part 3: 殖利率計算

In [50]:
df['殖利率%'] = (df.權值_息值 / df.除權息前收盤價) * 100
df

/var/folders/tf/2mspw9p90m3cds_p1f2s31vr0000gn/T/ipykernel_848/2684284329.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['殖利率%'] = (df.權值_息值 / df.除權息前收盤價) * 100

         資料日期  股票代號 股票名稱 除權息前收盤價 除權息參考價 權值_息值 權_息      殖利率%
0  111年04月08日  2535  達欣工   34.55  32.05   2.5   息   7.23589
1  111年04月08日  2832   台產   20.85   20.1  0.75   息  3.597122
2  111年04月08日  3003  健和興    85.1   83.1   2.0   息  2.350176

In [52]:
df.sort_values(by = ['殖利率%'], ascending = False)

         資料日期  股票代號 股票名稱 除權息前收盤價 除權息參考價 權值_息值 權_息      殖利率%
0  111年04月08日  2535  達欣工   34.55  32.05   2.5   息   7.23589
1  111年04月08日  2832   台產   20.85   20.1  0.75   息  3.597122
2  111年04月08日  3003  健和興    85.1   83.1   2.0   息  2.350176